<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
<table>

    <% for (let shortURL in urls) { %>

    <form method="POST" action="/urls/<%= shortURL %>/delete">
        <tr>
        <td> <a href="/urls/<%= shortURL %>"><%= shortURL %></a>  -->  </td>

        <td> <%= urls[shortURL] %></td>


        <td> <button>
        <a href="/urls/<%= shortURL %>" >Edit</a>
        </button> </td>


        <td> <button type="submit">Delete</button> </td>
      </form>
    <% } %>
  </tr>
</table>
<table>
  <tr> <a href="/urls/new">Create New</a> </tr>
</table>

</body>
</html>
